.comment {
  &.accepted {
    .comment-title span {
      background: green;
      box-shadow: 0 0 5px green;
    }
  }
  &.denided {
    .comment-title span {
      background: red;
      box-shadow: 0 0 5px red;
    }
  }
  &.maybe {
    .comment-title span {
      background: #777474;
      box-shadow: 0 0 5px #777474;
    }
  }
  display: block;
  text-align: right;
  width: 100%;
  overflow: hidden;
  .comment-title {
    margin: 5px 0;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    display: inline-block;
    word-break: break-word;
    background: green;
    box-shadow: 0 0 5px green;
    padding: 10px;
    color: #fff;
  }
}
