
$break-small: 600px;
$dark-color : black;
$base-color : #ef514c;
.container {
    max-width: 40%;
    margin : 10% auto;
    text-align: left;
    box-sizing: border-box;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
      0 15px 12px rgba(0, 0, 0, 0.22);
    padding: 30px;
    box-sizing: border-box;
}
body{
    margin:0;
    width:  100%;
    background-color : #ef514c;
}
label {
    position: relative;
    color: $dark-color;
    top: 7px;
    left: 10px;
    background: #fff;
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    @media screen and (max-width: $break-small) {
      display: inline-block;
      max-width: 90%;
      top: 15px;
    }
  }
  input {
    width: 100%;
    color: $dark-color;
    display: block;
    line-height: 30px;
    font-size: 16px;
    padding: 0.6em;
    font-family: "Roboto", sans-serif;
    background: transparent;
    border-radius: 15px;
    box-sizing: border-box;
    border: 1px solid rgb(31, 31, 31);
    margin-bottom: 10px;
    padding-left: 0.75em;
    @media screen and (max-width: $break-small) {
      padding-top: 1.2em;
    }
    &:focus {
      outline-offset: none;
      outline: none;
    }
  }
  .btn {
    border: none;
    padding: 5px 20px;
    border-radius: 4em;
    background: $base-color;
    color: #fff;
    display: flex;
    width: auto;;
    align-items: center;
    margin:0 auto;
    transition: all 0.5s ease-in;
    @media screen and (max-width: $break-small) {
      padding: 0 !important;
      margin: 0;
    }
}
